* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.App {
  padding: calc(50vh - 831px / 2) calc(50vw - 410px / 2);
  background-image: url('./background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frame {
  background-image: url('./iphone.png');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  height: 831px;
  width: 410px;
}
.content {
  width: 359px;
  height: 715px;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  left: 25px;
}
.contact{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.contact-img {
  width: 30%;
}
.contact-info {
  width: 60%;
  text-align: center;
}
.contact-more {
  width: 10%;
}
.contact-img, 
.contact-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.contact-info p {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
}
.contact-img img {
  border-radius: 100%;
  border: 3px solid #000;
}
