* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.contact{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.contact-img {
  width: 30%;
}
.contact-info {
  width: 60%;
  text-align: center;
}
.contact-more {
  width: 10%;
}
.contact-img, 
.contact-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1rem 0;
  font-size: 1.3rem;
}
.contact-info p {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
}
.contact-img img {
  border-radius: 100%;
  border: 3px solid #000;
}
